// colors from Tomorrow Night theme

$black:       #222222;
$dark-gray:   #333333;
$gray:        #999999;
$light-gray:  #EEEEEE;
$white:       #FFFFFF;

$red:         #d54e53;
$orange:      #e78c45;
$yellow:      #e7c547;
$green:       #b9ca4a;
$aqua:        #70c0b1;
$blue:        #7aa6da;
$purple:      #c397d8;

$transparent: rgba(0, 0, 0, 0);
