@import 'lib/reset.min';
@import 'media_queries';
@import 'colors';
@import 'typography';
@import 'base';
@import 'layout';
@import 'responsive';

textarea {
  font-family: $mono;
  color: $light-gray;
  background: $dark-gray;
  rows: 4;
  font-size: 1rem;
  border: 0;
  outline: 0;
  resize: none;
  width: 100%;
}
