@import 'lib/reset.min';
@import 'media_queries';
@import 'colors';
@import 'typography';
@import 'base';
@import 'layout';
@import 'responsive';


// EDITOR

.editor {
}


// HEADER

.header {
  background: $light-gray;
  color: $black;
  display: flex;
}

.header-title {
  width: $left-width;
  padding: 2rem 3rem;
}

.header-player {
  padding: 2rem 3rem;
}


// SEQUENCER

.sequencer {
  background: $black;
}


// TRACK

.track {
  display: flex;
  border: 0;
  color: $white;
  font-family: $mono;
  font-size: 1rem;
  outline: 0;
  resize: none;
  text-transform: uppercase;
  width: 100%;
}

.track-cell {
  padding: 2rem 3rem;
  overflow: scroll;
  border-right: $light-gray 1px solid;
  border-bottom: $light-gray 1px solid;
  &:focus {
    outline: 0;
  }
}

.track-instrument {
  width: $left-width;
  border-left: $light-gray 1px solid;
  color: $yellow;
}

.track-markup {
  flex: 1;
}