@import 'lib/reset.min';
@import 'media_queries';
@import 'colors';
@import 'typography';
@import 'base';
@import 'layout';
@import 'responsive';


// EDITOR

.editor {
}


// HEADER

.header {
  background: $light-gray;
  color: $black;
  display: flex;
}

.header-title {
  width: $left-width;
  padding: 3rem;
}

.header-player {
  padding: 3rem;
}


// SEQUENCER

.sequencer {
  background: $black;
}


// TRACK

.track {
  color: $white;
  font-family: $mono;
  font-size: 1rem;
  outline: 0;
  resize: none;
  text-transform: uppercase;
  padding: 3rem;
  white-space: nowrap;
  overflow: scroll;
  border: $light-gray 1px solid;
  outline: 0;
}

.track-note {
  color: $orange;
  background: $gray;
}

.track-modifier {
  color: $green;
  background: $gray;
}


// FANCY

::selection {
  background: $aqua; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $aqua; /* Gecko Browsers */
}

