{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="content">
  <nav>
    <div class="nav-left">MIDI Markup<span class="sub"> music composition for the visually-impaired</span></div>
    <div class="nav-right sub"><a href="https://github.com/jhil/midimarkup">see docs</a></div>
  </nav>
  <div class="editor">
    <div class="header">
      <div class="header-player">
        <div class="player-icon" alt="play" id="play-toggle">
          <img src="/img/icon-play.svg"/>
        </div>
        <div class="player-icon" alt="stop" id="stop-toggle">
          <img src="/img/icon-stop.svg"/>
        </div>
      </div>
      <div class="header-title" contenteditable="true" placeholder="Enter a project title..."></div>
    </div>
    <div class="track" contenteditable="true">
      T220 <br>
      PIANO ; ; ; ; F A G G <br>
      TRUMPET F A G G F A G G F A G G D A G G <br>
      TRUMPET A C B B A C : B B A C B B F C B B <br>
      TRUMPET C E D D C E D D C E D D A E D D <br>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/parser.js"></script>
<script src="js/player.js"></script>
<script src="js/audio.js"></script>
<script src="js/highlight-instruments.js"></script>
<script src="js/highlight-notes.js"></script>
<script src="js/highlight-modifiers.js"></script>
{{/content}}
{{/extend}}
