{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="content">
  <nav>
    <div class="nav-left"><a href="/">MIDI Markup</a></div>
    <div class="nav-right sub"><a href="docs.html">See Docs →</a></div>
  </nav>
  <div class="editor">
    <div class="header">
      <div class="header-title" contenteditable="true" placeholder="Enter a project title...">Sorry - Justin Bieber</div>
      <div class="header-player">
        <div class="player-icon" alt="play" id="play-toggle">
          <img src="/img/icon-play.svg"/>
        </div>
        <div class="player-icon" alt="stop" id="stop-toggle">
          <img src="/img/icon-stop.svg"/>
        </div>
      </div>
    </div>
    <div class="track" contenteditable="true">
      T220 <br>
      SAXOPHONE ; ; ; ; ;2 C8 D8 F8 G8 G8 ;8 ;4 C8 D8 F8 G8 G8 ;8 ;4 ; ; C8 D8 F8 G8 G8 ;8 ;4 C8 D8 F8 G8 G8 ;8 ;4 ; ; ; ; ; ; C8 D8 F8 G8 G8 ;8 ;4 C8 D8 F8 G8 G8 ;8 ;4 ; ; C8 D8 F8 G8 G8 ;8 ;4 C8 D8 F8 G8 G8 ;8 ;4 ; ; C8 D8 F8 G8 G8 ;8 ;4 C8 D8 F8 G8 G8 ;8 ;4 <br>
      TRUMPET ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ;2 D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 D8 ;8 G2 A ; D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 A8 ;8 D2 C ; D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 D8 ;8 G2 A ; <br>
      DRUMS ; ; ; ; ; ; ; ; ; ; ; ; F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 <br>
      TRUMPET F A G G F A G G F A G G D A G G F A G G F A G G F A G G D A G G <br>
      TRUMPET ; ; ; ; ; ; ; ; A C B B F C B B A C B B A C B B F C B B A C B B <br>
      TRUMPET ; ; ; ; ; ; ; ; C E D D A E D D C E D D C E D D A E D D C E D D <br>
      PIANO ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; F A G G F A G G F A G G D A G G  <br>
      PIANO ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; A C B B A C B B A C B B F C B B  <br>
      PIANO ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; C E D D C E D D C E D D A E D D <br>
      DRUMS ; ; ; ; F F F F F F F F F4 F4 F4 F4 F4 F4 F4 F4 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F F F F F F F F F F F F F4 F4 F4 F4 F4 F4 F4 F4 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 F8 <br>
      VIOLIN ; ; ; ; ;2 C8 D8 F8 G8 G8 ;8 ;4 C8 D8 F8 G8 G8 ;8 ;4 ; ; C8 D8 F8 G8 G8 ;8 ;4 C8 D8 F8 G8 G8 ;8 ;4 ; ; ; ; ; ; C8 D8 F8 G8 G8 ;8 ;4 C8 D8 F8 G8 G8 ;8 ;4 ; ; C8 D8 F8 G8 G8 ;8 ;4 C8 D8 F8 G8 G8 ;8 ;4 <br>
      TRUMPET ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ;2 D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 D8 ;8 G2 A ; D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 A8 ;8 D2 C ; D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 D8 ;8 G2 A ; <br>
      TRUMPET ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ;2 D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 D8 ;8 G2 A ; D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 A8 ;8 D2 C ; D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 D8 ;8 G2 A ; <br>
      TRUMPET ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ;2 D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 D8 ;8 G2 A ; D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 A8 ;8 D2 C ; D8 D8 ;8 D8 ;8 D8 ;8 D8 ;8 C8 D8 ;8 G2 A ; <br>
      DRUMS ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 F4 ;8 F8 F8 ;8 F4 <br>
    </div>
  </div>
  <footer>
    <div>Created by <a href="https://twitter.com/nikolazaris" target="_blank">Niko Lazaris</a> + <a href="http://stefcohen.com/" target="_blank">Stef Cohen</a> + <a href="http://jhil.co/" target="_blank">Jeff Hilnbrand</a> @ <a href="http://www.sxsw.com/music/conference/hackathon" target="_blank">SXSW Music Hackathon 2016</a></div>
  </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/highlight.js"></script>
<script src="js/parser.js"></script>
<script src="js/player.js"></script>
<script src="js/audio.js"></script>
{{/content}}
{{/extend}}
