{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="content">
  <div class="editor">
    <div class="header">
      <div class="header-player">
        <div class="player-icon" alt="play" id="play-toggle">
          <img src="/img/icon-play.svg"/>
        </div>
        <div class="player-icon" alt="stop" id="stop-toggle">
          <img src="/img/icon-stop.svg"/>
        </div>
      </div>
      <div class="header-title">
        MIDI Markup
      </div>
    </div>
    <div class="track" contenteditable>
      t120<br>
      trumpet g+ b a f<br>
      drums a- f+ b- c
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/parser.js"></script>
<script src="js/player.js"></script>
{{/content}}
{{/extend}}
