{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="content">
  <div class="editor">
    <div class="header">
      <div class="header-title">
        MIDI Markup
      </div>
      <div class="header-player">
        [PLAY] [PAUSE] [STOP]
      </div>
    </div>
    <div class="sequencer">
      <div class="track" contenteditable>
        piano g+ b a f<br>
        guitar g+ b a f<br>
        saxophone g+ b a f<br>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/parser.js"></script>
{{/content}}
{{/extend}}
