{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="content">
  <nav>
    <div class="nav-left"><a href="/">MIDI Markup</a></div>
    <div class="nav-right sub"><a href="https://github.com/jhil/midimarkup">See Docs →</a></div>
  </nav>
  <div class="editor">
    <div class="header">
      <div class="header-title" contenteditable="true" placeholder="Enter a project title..."></div>
      <div class="header-player">
        <div class="player-icon" alt="play" id="play-toggle">
          <img src="/img/icon-play.svg"/>
        </div>
        <div class="player-icon" alt="stop" id="stop-toggle">
          <img src="/img/icon-stop.svg"/>
        </div>
      </div>
    </div>
    <div id="track" class="track" contenteditable="true">
      T160 <br>
      PIANO ; ; ; ; ; ; ; ; F A G G D A G G <br>
      SAXOPHONE ; ; ; ; ;4 F8 G8 C8 D8 D8 <br>
      TRUMPET F A G G F A G G F A G G D A G G <br>
      TRUMPET A C B B A C B B A C B B F C B B <br>
      TRUMPET C E D D C E D D C E D D A E D D <br>
      DRUMS F F F F 
    </div>
  </div>
  <footer>
    <div>Created by <a href="https://twitter.com/nikolazaris" target="_blank">Niko Lazaris</a> + <a href="http://stefcohen.com/" target="_blank">Stef Cohen</a> + <a href="http://jhil.co/" target="_blank">Jeff Hilnbrand</a> @ <a href="http://www.sxsw.com/music/conference/hackathon" target="_blank">SXSW Music Hackathon 2016</a></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/highlight.js"></script>
<script src="js/parser.js"></script>
<script src="js/player.js"></script>
<script src="js/audio.js"></script>
{{/content}}
{{/extend}}
