{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="content">
  <div class="header">
    <div>
      MIDI Markup
    </div>
    <div class="player">
      PLAY PAUSE STOP
    </div>
  </div>
  <textarea rows="16" id="editor">
  
  </textarea>  
</div>

{{/content}}
{{/extend}}
