{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="content">
  <div class="editor">
    <div class="header">
      <div class="header-player">
        <img src="/img/icon-play.svg" alt="play" class="player-icon">
        <img src="/img/icon-pause.svg" alt="play" class="player-icon">
        <img src="/img/icon-stop.svg" alt="play" class="player-icon">
      </div>
      <div class="header-title">
        MIDI Markup
      </div>
    </div>
    <div class="sequencer">
      <div class="track" contenteditable>g+ b a f</div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/parser.js"></script>
{{/content}}
{{/extend}}
