{{#extend "base"}}
{{#content "main" mode="prepend"}}

  <div class="content">
    <textarea id="editor"></textarea>  
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/parser.js"></script>

{{/content}}
{{/extend}}
